<tool-panel class="smk-location-panel"
    v-bind="$$projectProps( 'tool-panel' )"
>
    <template #header>
        <slot></slot>
    </template>

    <template #commands>
        <command-button class="smk-identify"
            v-if="tool.identify"
            v-on:click="$$emit( 'identify' )"
        >Identify features</command-button>

        <command-button class="smk-measure"
            v-if="tool.measure"
            v-on:click="$$emit( 'measure' )"
        >Start measurement</command-button>

        <command-button class="smk-directions"
            v-if="tool.directions"
            v-on:click="$$emit( 'directions' )"
        >Directions to here</command-button>
    </template>    

    <div class="smk-address">
        <div class="smk-street">
            <span class="smk-civic-number">{{ site.civicNumber }}</span>
            <span class="smk-street-name">{{ site.streetName || 'No address for this location.' }}</span>
            <span class="smk-street-type">{{ site.streetType }}</span>
        </div>
        <div class="smk-locality">
            <span class="smk-locality-name">{{ site.localityName || '&nbsp;' }}</span>
            <span class="smk-locality-type" v-if="site.localityType && site.localityType != 'Unknown'">({{ site.localityType }})</span>
        </div>
    </div>

    <div class="smk-coordinate">
        <span class="smk-ordinate">
            <label>latitude<div>{{ $filters.formatNumber( site.latitude, 6, 3 ) }}</div></label>
        </span>
        <span class="smk-ordinate">
            <label>longitude<div>{{ $filters.formatNumber( site.longitude, 6, 3 ) }}</div></label>
        </span>
    </div>

</tool-panel>
