/* .smk-sidepanel.smk-location-panel .smk-title {
    margin-left: var( --space-2 );
    margin-right: var( --space-2 );
}

.smk-sidepanel.smk-location-panel .smk-title i {
    display: none;
}

.smk-sidepanel.smk-location-panel .smk-title .smk-address {
    flex-grow: 1;
}

.smk-sidepanel.smk-location-panel .smk-title .smk-address .smk-no-address {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
} */

.smk-sidepanel.smk-location-panel .smk-body .smk-address {
    font-weight: bold;
}

.smk-sidepanel.smk-location-panel .smk-body .smk-coordinate {
    margin-top: var( --space-2 );
}

