# Hidden files
**/.classpath
**/.DS_Store
**/.project

# Hidden dirs
**/.vscode/**
**/.settings/**

# Generated dirs
**/node_modules/**
**/target/**
**/node/**
**/bin/**
dist/**
temp/**

**/etc/**

# Test output
.vitest-attachments/
test/browser/__screenshots__/
coverage/

# Written by npm run story:wfnews from a WFNEWS checkout
debug/config/wfnews.json
debug/config/wfnews/
