.smk-version-panel dt {
    font-size: 12px
}

.smk-version-panel dd {
    margin-left: var( --space-4 );
    margin-bottom: var( --space-3 );
    overflow-wrap: break-word;
}

.smk-version-panel dd ul {
    margin: 0;
    padding-left: var( --space-4 );
}

