.smk-bookmarks-panel .smk-bookmark {
    padding: var( --space-2 ) var( --space-2 );
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.smk-bookmarks-panel .smk-bookmark:hover {
    border: 1px solid black;
}
