<div class="smk-scale">

    <div class="smk-denom"
        v-if="scaleDenom"
    >1 : {{ $filters.formatNumber( scaleDenom, 0 ) }}<span v-if="zoomLevel"> ({{ zoomLevel.toFixed( 1 ) }})</span></div>

    <div class="smk-ruler">
        <div
            class="smk-sections"
            v-if="rulerSectionWidth"
        ><span
            class="smk-upper"
            v-bind:style="{ width: rulerSectionWidth + 'px' }"
        ></span><span
            class="smk-lower"
            v-bind:style="{ width: rulerSectionWidth + 'px' }"
        ></span><span
            class="smk-upper"
            v-bind:style="{ width: rulerSectionWidth + 'px' }"
        ></span><span
            class="smk-lower"
            v-bind:style="{ width: rulerSectionWidth + 'px' }"
        ></span></div>

        <div class="smk-labels"
            v-if="rulerLength"
        >
            <span class="smk-first">0</span>
            <span class="smk-middle">{{ $filters.formatNumber( ( rulerLength / 2 ), 0 ) }}</span>
            <span class="smk-last">{{ $filters.formatNumber( rulerLength, 0 ) }} {{ rulerUnit }}</span>
        </div>
    </div>

</div>